* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    background-color: #ebebeb;
    font-size: 12px;
    }

main {
    margin: 90%;
    padding: 20px;
    margin: auto;
    

}

.main-header {
    background-color: #EAC926;
    padding: 20px;
    
}

.logo {
    width: 180px;
}

.search-box {
    font-size: 18px;
    display: flex;
    margin: auto;
    padding: 20px 0 15px 0;
    width: 100%;
    border: none;
}

.header-title {
    font-weight: 400;
    text-align: center;
    padding: 20px;
}

.main-navbar {
    display: none;
}

.main-navbar ul{
    list-style:none;
    margin: 0;
    padding: 0;
    
}

.main-navbar a{
    text-decoration: none;
    color: #03264C;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
    
}

.main-navbar-right ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.hamburguer-button {
    background-color: #1259c3;
    color: #FFF;
    font-size: 20px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    display: block;
    max-width: 100px;
    text-align: center;
    margin: auto;
}

.main-banner{
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}


.article-section {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;

}

.article-title-section {
    color: #666;
    font-size: 24px;
}

h2.article-title-section {
    margin: 0 0 0 18px;
}

.product-image {
    width:100%;
}
.product-section{
    background-color: white;
    width: 90%;
    height: 100%;
    margin-bottom: 10px;
    margin: auto;
    cursor: pointer;
    height: 100%;
    margin-top: 10px;
}


div.product-description {
    border: 1px solid #ebebeb;
    padding: 15px;
    width: 100%;
    margin: auto;
}

.price-description {
    display: flex;
    justify-content: space-between;
}

/*main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    }*/

.envios-truck {
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    
}

.article-price {
    display: flex;
    font-size: 18px;
    flex-grow: 0.3;
}

.article-discount {
    color: #39b54a;
    display: flex;


}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color:#666;
    text-align: center;
    margin: 40px;
    line-height: 18px;
    padding: 0.5rem;
}

.footer-box {
    margin-bottom: 15px;
    
}

#footer-icon {
    color:#1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

#footer-icon {
    margin-top: 20%;
}

/*Formulario de Registro de Nuevos Usuarios*/

.register-header {
    background-color: #EAC926;
    height: 100%;
    padding: 20px;

}

.logo-register {
    width: 180px;
}

.register-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: 30px 15px;
}

.register-form-control input {
    text-align: center;
    width: 230px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 20px;

}

.form-control {
    margin-bottom: 20px;
}

.form-control label {
    margin-bottom: 5px;
    font-size: ;
    display: block;
}

.control {
    width: 100%;
    padding: 8px;
}

.button-form {
    background-color: #39b54a;
    border: none;
    font-size: 14px;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Formulario de Login de usuarios registrados*/

.main-login-form {
    border-bottom: solid 1px #666;

}

.login-form {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 15px;
    justify-content: center;
}
.login-form-control input{
    text-align: center;
    width: 230px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.login-control {
    
}

.login-button-form {
    background-color: #1259c3;
    border: none;
    font-size: 14px;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

@media (min-width: 361px) {
    .logo {
        width: 250px;
    }

    .search-box {
        font-size: 20px;
        display: flex;
        margin: auto;
        padding: 20px 0 15px 0;
        width: 100%;
    }
    
    .product-section {
        width: 40%;
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
    .article-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}

/* Formulario de Login de usuarios registrados*/

.login-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 30px 15px;
    justify-content: center;

}

.login-button-form {
    background-color: #1259c3;
    border: none;
    font-size: 18px;
    color: #FFF;
    padding: 7px 10px;
    border-radius: 5px;
    width: 70%;
    margin-top: 10px;
}

@media (min-width: 768px) {
    
    
    .main-header-top-bar{
        
        display: flex;
        justify-content: space-between;
    }

    .logo {
        width: 30%;
    }
    .header-title{
        max-width: 350px;
        text-align: right;
        margin: auto;

    }

    .search-box {
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        margin: auto;
        width: 50%;
        padding: 1%;
    }

    .search-box input {
        width: 95%;
    }

    .hamburguer-button{
        display: none;
    }

    .main-navbar{
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul{
        display: flex;

    }

    .main-navbar li{
        margin: 0 10px;
    }

    .main-navbar-left{
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    .article-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .product-section {
        width: 20%;
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }

    div.product-description {
        border: 1px solid #ebebeb;
        padding: 15px;
        display: block;
    }


@media (min-width: 1200px) {
    .logo {
        width: 300px;
    }
    .search-box {
        width: 50%;
        
    }
    .search-box input {
        font-size: 24px;
        width: 95%;
        margin: auto;
        align-items: center;
    }
    .main-header-top-bar, .main-navbar{
        max-width: 1200px;
        margin: auto;
    }
    .main-header-top-bar {
        align-items: center;
    }

    .main-header-top-bar img {
        width: 30%;

    }

    .header-title {
        margin: 0;
        max-width: none;
        font-size: 22px;
        font-weight: 400;
        
        
    }
.main-navbar {
    margin-top: 40px;
}
    }
    .main-navbar li{
        margin: 0 10px;
        
    }
    .main-navbar a{
        font-size: 19px;

    }
    
    

}









